imi-app/main/default/src/flows/IMI_Create_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Deserialize_Arg</name>
        <label>Deserialize Arg</label>
        <locationX>52</locationX>
        <locationY>204</locationY>
        <actionName>IMI_Create_Opportunity_Arg_Deser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Opp_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Fault_on_Message2</targetReference>
        </faultConnector>
        <inputParameters>
            <name>strings</name>
            <value>
                <elementReference>Param.Command_Argument__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Param_Opportunity</assignToReference>
            <name>opp</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Param_External_ID</assignToReference>
            <name>oppExternalID</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Fault_on_Message2</name>
        <label>Set Fault on Message</label>
        <locationX>349</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>Param.Execution_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Processed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields_on_OppToUpdate</name>
        <label>Set Fields on OppToUpdate</label>
        <locationX>333</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_to_Update.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity_to_Update.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created by External System</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Processed</name>
        <label>Set Processed</label>
        <locationX>587</locationX>
        <locationY>218</locationY>
        <assignmentItems>
            <assignToReference>Param.Processing_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Message</targetReference>
        </connector>
    </assignments>
    <interviewLabel>IMI_Create_Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IMI: Create Opportunity</label>
    <loops>
        <name>Loop_Params</name>
        <label>Loop Params</label>
        <locationX>330</locationX>
        <locationY>49</locationY>
        <assignNextValueToReference>Param</assignNextValueToReference>
        <collectionReference>Params</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Deserialize_Arg</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opp_Id</name>
        <label>Get Opp Id</label>
        <locationX>197</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Fields_on_OppToUpdate</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Fault_on_Message2</targetReference>
        </faultConnector>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Param_External_ID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opportunity_to_Update</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Message</name>
        <label>Update Message</label>
        <locationX>719</locationX>
        <locationY>217</locationY>
        <connector>
            <targetReference>Loop_Params</targetReference>
        </connector>
        <inputReference>Param</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>456</locationX>
        <locationY>204</locationY>
        <connector>
            <targetReference>Set_Processed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Fault_on_Message2</targetReference>
        </faultConnector>
        <inputReference>Opportunity_to_Update</inputReference>
    </recordUpdates>
    <startElementReference>Loop_Params</startElementReference>
    <status>Active</status>
    <variables>
        <name>Opportunities_to_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Opportunity_to_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Param</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Integration_Message_Incoming__c</objectType>
    </variables>
    <variables>
        <name>Param_External_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Param_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Params</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Integration_Message_Incoming__c</objectType>
    </variables>
    <variables>
        <name>Params_to_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Integration_Message_Incoming__c</objectType>
    </variables>
</Flow>
